#kavin{
    font-size:xx-large;
    font-weight:900;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    color: black;
    
}

#break-fast{
    font-size:xx-large;
    font-weight:900;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    color: brown;
    
}

#login1{
    font-size:xx-large;
    font-weight:900;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    color: darkviolet;

}

#foodtypes1{
    font-size:xx-large;
    font-weight:900;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    color: brown;

}

#afternoon{
    font-size:xx-large;
    font-weight:900;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    color:darkslateblue;

}

#night{
    font-size:xx-large;
    font-weight:900;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    color: red;

}

#ac{
    font-size:xx-large;
    font-weight:900;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    color: black;

}


#nonac{
    font-size:xx-large;
    font-weight:900;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    color: blue;
}

#acbar{
    font-size:xx-large;
    font-weight:900;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    color: olivedrab;
}

#nonacbar{
    font-size:xx-large;
    font-weight:900;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    color: darkolivegreen;
}

.fa-solid fa-user{
    color: brown;
}

#register1{
    font-size:xx-large;
    font-weight:900;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    color: darkred;

}
#price8{
    font-size:xx-large;
    font-weight:900;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    color: darkgoldenrod;

}